body{
    background-color: #9290C3;
}
h1{
    color:#070F2B
}
p{
    color:white;
    font-family:cursive;
    font-size: 24px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#1B1A55
}